
@import 'variables';
@import 'gradient';
@import 'library';
@import 'libraryCourse';
@import 'arrow';
@import 'schedule';
@import 'scheduleCourse';
@import 'progressTracker';
@import 'addRemoveAction';


.home {
    height: 100vh;
    width: 100vw;

    display: grid;
    grid-template-columns: [library-s] 1fr 1fr [schedule-s] 50px [library-e] 1fr [schedule-e];
    grid-template-rows: 1fr;

    overflow: hidden;
}


