.progress-tracker {
    grid-row: progress-s/progress-e;
    align-self: end;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 33px [title-s] 1fr [title-e percentage-s] 76px [percentage-e];

    align-items: center;

    &__title {
        grid-column: title-s/title-e;
        grid-row: 1/2;   
    }
    &__percentage {
        grid-column: percentage-s/percentage-e;
        grid-row: 1/2;
        justify-self: center;
    }
}

.progress-tracker {
    background-color: rgba(255,255,255,0.1);
    width: 100%;
    height: 76px;
    font-family: $font-alegreya;
    font-size: 16px;
    color: white;

    &__title {
        @include border-left();
    }

}
